<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language (" lang.dir")" lang="$w3c_language_id">

<head>
    <title>$the_title - $company_name</title>
    <meta http-equiv="CONTENT-TYPE" content="text/html;charset=utf-8">
    <meta content="initial-scale=1.0, width=device-width" name="viewport"/>
    <script src="${static}/jquery/jquery-1.12.4.min.js"></script>
    $theme.include($top_head_include)

    <script type="text/javascript">
        function verify() {
            var submitValue = $("#submitValue").val();
            if (submitValue == null || submitValue == '') {
                alert("请输入搜索内容！");
                return false;
            }
            return true;
        }
        function AddFavorite(url,title) {
            	try {
                	window.external.addFavorite(url, title);
            	}
            	catch (e) {
                	try {
                   	 window.sidebar.addPanel(title, url, "");
               	 	}
                	catch (e) {
                    	alert("抱歉，您所使用的浏览器无法完成此操作。\n\n加入收藏失败，请使用Ctrl+D进行添加");
                	}
           		}
        }
    </script>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body class="$css_class">


$theme.include($body_top_include)

<div class="favorite">
    <span style="position: relative;left: 80%"><a href ="#"  onClick ="AddFavorite(document.URL,document.title)">收藏本站</a></span>
</div>

<header id="banner" role="banner">
    <div class="organizationImg">
    <span class="organizationImgSpan1">
    <a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
        <img height="120%" src="$site_logo" width="120%">
        </a>
    </span>
    <span class="organizationImgSpan2">
    <div class="searchImg" align="center">
        全站搜索
    </div>
        <form method="get" action="">
            <input type="text" class="inputText" name="submitValue" id="submitValue">
            <img src="$images_folder/searchButton.png" onclick="verify()" class="searchButton" name="submit">
        </form>
    </span>
    </div>

    <div class="navigationDiv">
        #if ($has_navigation || $is_signed_in)
        #parse ("$full_templates_path/navigation.vm")
        #end
    </div>
    #set ($url = "${themeDisplay.getURLCurrent()}")
    #if ($url != $syUrl)
    	<nav id="breadcrumbs">#breadcrumbs()</nav>
    #end
</header>

 #set ($syBackGround = "syBackGround")
#if ($url != $syUrl)
	#set ($syBackGround ="backGround")
#end

<div id="bodyBackGround" class="$syBackGround">
<div class="container middle2" id="content" >
    #if ($selectable)
    $theme.include($content_include)
    #else
    $portletDisplay.recycle()

    $portletDisplay.setTitle($the_title)

    $theme.wrapPortlet("portlet.vm", $content_include)
    #end
</div>
</div>

<footer id="footer" role="contentinfo">
    <div class="copyRightDiv">
        <div class="text-center copyright">
            <br>
            #foreach ($nav_item in $nav_items)
				#set ($nav_item_attr_selected="")
				#set ($nav_item_attr_has_popup="")
				#set ($nav_item_caret="")
				#set ($nav_item_css_class="lfr-nav-item")
				#set ($nav_item_link_css_class="")

				#if ($nav_item.isSelected())
					#set ($nav_item_attr_selected="aria-selected='true'")
					#set ($nav_item_css_class="$nav_item_css_class selected active")
				#end
				<a aria-labelledby="layout_$nav_item.getLayoutId()" $nav_item_attr_has_popup class="$nav_item_link_css_class" href="$nav_item.getURL()" $nav_item.getTarget() role="menuitem">
					<span>$nav_item.icon() $nav_item.getName() $nav_item_caret</span>
				</a>
				<span class="verticalBar">|</span>
			#end
        </div>
        <br>
        <div class="text-center copyright">
            @2016&nbsp上海市交通建设工程管理中心&nbsp&nbsp版权所有<br><br>
            沪ICP备&nbsp14011940号
        </div>
    </div>
</footer>


$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>