.GrodViewAlternatingStyle {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #efefef; HEIGHT: 40px; COLOR: #000000; FONT-SIZE: 12px
}
.GrodViewAlternatingStyle TD {
	BORDER-BOTTOM: #8dc1e2 1px solid; BORDER-LEFT: #8dc1e2 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP: #8dc1e2 1px solid; BORDER-RIGHT: #8dc1e2 1px solid; PADDING-TOP: 0px
}
.GrodViewEditRowStyle {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #f7f7f7; COLOR: #000000; FONT-SIZE: 12px
}
.GrodViewEmptyDataRowStyle {
	
}
.GrodViewFooterStyleStyle {
	
}
.GrodViewHeaderStyle {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #2589c7; HEIGHT: 27px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.GrodViewHeaderStyle TH {
	BORDER-BOTTOM: #8dc1e2 1px solid; BORDER-LEFT: #8dc1e2 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #8dc1e2 1px solid; BORDER-RIGHT: #8dc1e2 1px solid; PADDING-TOP: 0px
}
.GrodViewHeaderStyle A:link {
	COLOR: white
}
.GrodViewHeaderStyle A:visited {
	COLOR: #cccccc
}
.GrodViewPagerStyle {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #97cbeb; HEIGHT: 27px; COLOR: #ffffff; FONT-SIZE: 12px
}
.GrodViewRowStyle {
	BORDER-BOTTOM: 1px dashed; TEXT-ALIGN: center; BORDER-LEFT: 1px dashed; BACKGROUND-COLOR: #f9f9f9; HEIGHT: 40px; COLOR: #000000; FONT-SIZE: 12px; BORDER-TOP: 1px dashed; BORDER-RIGHT: 1px dashed
}
.GrodViewRowStyle TD {
	BORDER-BOTTOM: #8dc1e2 1px solid; BORDER-LEFT: #8dc1e2 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP: #8dc1e2 1px solid; BORDER-RIGHT: #8dc1e2 1px solid; PADDING-TOP: 0px
}
.GrodViewSelectedRowStyle {
	
}
.GrodViewHeaderStylePrint {
	BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid; BORDER-COLLAPSE: collapse; FONT-FAMILY: ו; HEIGHT: 27px; FONT-SIZE: 12px; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #000000 1px solid
}
.GrodViewRowStylePrint {
	BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #000000 1px solid; BORDER-COLLAPSE: collapse; FONT-FAMILY: ו; HEIGHT: 30px; COLOR: #000000; FONT-SIZE: 12px; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
