.TreeHoverNodeStyle {
	
}
.TreeLeafNodeStyle {
	COLOR: #125484; FONT-SIZE: 12px
}
.TreeNodeStyle {
	
}
.TreeParentNodeStyle {
	COLOR: #125484; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.TreeRootNodeStyle {
	COLOR: #125484; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.TreeSelectedNodeStyle {
	
}
