body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:-40px;
  width:470px;
  height:622px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:622px;
}
#u1 {
  position:absolute;
  left:2px;
  top:303px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
