<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="configManager" class="com.justonetech.biz.manager.ConfigManager">
        <!--网站名称-->
        <property name="siteName" value="上海市交通建设工程管理系统"/>

        <!--监督单位名称-->
        <property name="jdDeptName" value="上海市交通建设工程管理系统"/>

        <!--文档附件存储位置-->
        <property name="filePath" value="${filePath}/doc/"/>

        <!--短信开关-->
        <property name="sendSms" value="${smsSwitch}"/>

        <!--快信通短信开关-->
        <property name="kxtSendSms" value="${kxtSmsSwitch}"/>

        <!--系统缺省样式路径-->
        <property name="defaultSkinPath" value="default"/>
    </bean>
</beans>
