body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:663px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:196px;
  top:-26px;
  width:467px;
  height:620px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:620px;
}
#u1 {
  position:absolute;
  left:2px;
  top:302px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
