*{font-family:"Verdana","宋体",serif;font-size:12px;}
body {
    /*font-family: simsun;*/
    background: #fff;
    font-size: 12px;
    color: #515151;
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
}

div, form, img, ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
}

table, td, tr, th {
    font-size: 12px;
}

/* ������ɫ */
a:link {
    color: #333;
    text-decoration: none;
}

a:visited {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #f60;
    text-decoration: none;
}

a:active {
    color: #333;
}

.fB {
    font-weight: bold;
}

.clr {
    clear: both;
}

.clr_10 {
    clear: both;
    height: 10px;
    line-height: 0;
    font-size: 0;
}

.pages {
    height: 28px;
    line-height: 28px;
}

.Header {
    width: 969px;
    margin: 0 auto;
    background-color: #fff;
}

.Header .title{
	background-repeat: no-repeat;
	height: 169px;
	width: auto;
	padding: 0px;
}
.Header .title .top{
	background-image: url(title_1.jpg);
	width: auto;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 500px;
	 height: 29px;
}
.Header .title .top_1{
	width: auto;
	height: 140px;
}

.Header .title .top {
    width: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 500px;
}

.Header .title .top .time {
    float: left;
    width: 234px;
    padding-top: 7px;
    padding-right: 0px;
    padding-bottom: 0px;
    color: #0daae1;
}

.Header .title .top .shortcuts {
    float: right;
    width: 230px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.Header .nav {
    clear: both;
    height: 33px;
    background: url(nav_bg.jpg) repeat-x 0 0;
}

.Header .nav ul {
    background: url(nav.jpg) no-repeat 0 -33px;
    height: 33px;
}

.Header .nav li {
    float: left;
    width: 84px;
    height: 33px;
}

.Header .nav li a {
    display: block;
    height: 33px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.Header .nav .n1 {
    width: 84px;
}

.Header .nav .n2 {
    width: 84px;
}

.Header .nav .n1 a:hover, .Header .nav .n1 .tag {
    background: url(nav.jpg) no-repeat 0 0;
}

.Header .nav .n2 a:hover, .Header .nav .n2 .tag {
    background: url(nav.jpg) no-repeat -84px 0;
}

.Header .nav .n3 a:hover, .Header .nav .n3 .tag {
    background: url(nav.jpg) no-repeat -168px 0;
}

.Header .nav .n4 a:hover, .Header .nav .n4 .tag {
    background: url(nav.jpg) no-repeat -252px 0;
}

.Header .nav .n5 a:hover, .Header .nav .n5 .tag {
    background: url(nav.jpg) no-repeat -336px 0;
}

.Header .nav .n6 a:hover, .Header .nav .n6 .tag {
    background: url(nav.jpg) no-repeat -420px 0;
}

.Header .nav .n7 a:hover, .Header .nav .n7 .tag {
    background: url(nav.jpg) no-repeat -504px 0;
}

.Header .nav .n8 a:hover, .Header .nav .n8 .tag {
    background: url(nav.jpg) no-repeat -588px 0;
}

.Header .nav .n9 a:hover, .Header .nav .n9 .tag {
    background: url(nav.jpg) no-repeat -672px 0;
}

.Header .nav .n10 a:hover, .Header .nav .n10 .tag {
    background: url(nav.jpg) no-repeat -756px 0;
}

.Header .nav .n11 a:hover, .Header .nav .n11 .tag {
    background: url(nav.jpg) no-repeat -840px 0;
}

.login_1 {
    float: right;
    width: 300px;
    border: 1px solid #ccc;
    color: #666;
}

.login_1 .bg {
    padding: 10px 0 0 20px;
}

.login_1 h3 {
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 25px;
    color: #0054A6;
}

.login_1 li {
    height: 28px;
}

.login_1 .input {
    height: 15px;
    line-height: 15px;
    border: 1px solid #ccc;
}

.login_1 .but {
    background: url(img/but_1.gif) no-repeat 0 0;
    width: 47px;
    height: 22px;
    line-height: 22px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.login_1 .bottom {
    text-align: center;
    height: 37px;
    padding-top: 2px;
}

.login_1 a, .ContentHome .login a:visited {
    color: #666;
}

.login_1 a:hover {
    color: #f60;
}

.main {
    float: left;
    width: 589px;
    height: 400px;
    background-image: url(img/11.jpg);
    background-repeat: no-repeat;
}

.login_2 {
    float: right;
    width: 352px;
    color: #666;
    height: 281px;
    background-image: url(img/12.jpg);
}

.login_3 {
    float: right;
    width: 300px;
    color: #004b85;
    height: 35px;
    padding: 30px 0 0 45px;
}

.login_2 .bg_1 {
    padding: 60px 0 0 45px;
}

.login_2 h3 {
    font-size: 14px;
    line-height: 45px;
    color: #7b7b7b;
}

.login_2 li {
    height: 45px;
}

.login_2 .input {
    height: 15px;
    line-height: 15px;
    border: 1px solid #ccc;
}

.login_2 .but {
    background: url(img/but_1.gif) no-repeat 0 0;
    width: 47px;
    height: 22px;
    line-height: 22px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.login_2 .bottom {
    text-align: center;
    height: 37px;
    padding-top: 2px;
}

.login_2 a, .ContentHome .login a:visited {
    color: #666;
}

.login_2 a:hover {
    color: #f60;
}

.ContentHome {
    width: 969px;
    margin: 0 auto;
    padding: 7px 0;
    clear: both;
    background-color: #fff;
}

.ContentHome .bg {
    border: 1px solid #fff;
    background: url(img/bg_1.gif) repeat-x 0 0;
}

.ContentHome .fous {
    float: left;
    width: 713px;
    border: 1px solid #e0e1e3;
}

.ContentHome .fousInfo {
    float: left;
    width: 100%;
    border: 1px solid #e0e1e3;
    background-color: #fff;
}
.ContentHome .fousZhuce {
	float: left;
	width: 100%;
	height:600px;
	border: 1px solid #e0e1e3;
	background-color: #fff;
	background-image: url(step.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.ContentHome .fousZhuce .bg{
	float: left;
	width: 100%;
	background-image: url(fousonebg.jpg);
	background-repeat: repeat-y;
	height: 27px;
}

.ContentHome .fousZhuce .step_zhuce {
	line-height: 30px;
	word-spacing: 0.1em;
	height: 30px;
	padding-top: 60px;
    font-size: large;
}

.ContentHome .fousInfo .info_title {
    width: 100%;
    height: 100px;
    font-size: 28px;
    font-weight: bold;
    text-align:center;
}

.ContentHome .fous .one {
    float: left;
    width: 99%;
    height: 27px;
    border: 1px solid #fff;
    background-image: url(fousonebg.jpg);
    background-repeat: repeat-y;
}

.ContentHome .fous .one .left_pic {
    float: left;
    width: 97px;
    height: 27px;
    background-image: url(left_pic.jpg);
    background-repeat: no-repeat;
    text-align: left;
}

.ContentHome .fous .one .left_news {
    float: left;
    width: 97px;
    height: 27px;
    background-image: url(left_news.jpg);
    background-repeat: no-repeat;
    text-align: left;
}

.ContentHome .fous .one .left_partyMeber {
    float: left;
    width: 97px;
    height: 27px;
    background-image: url(left_partyMeber.jpg);
    background-repeat: no-repeat;
    text-align: left;
}

.ContentHome .fous .one .left_intro {
    float: left;
    width: 124px;
    height: 27px;
    background-image: url(left_intro.jpg);
    background-repeat: no-repeat;
    text-align: left;
}

.ContentHome .fous .one .left_policy {
    float: left;
    width: 97px;
    height: 27px;
    background-image: url(left_policy.jpg);
    background-repeat: no-repeat;
    text-align: left;
}

.ContentHome .fous .one .left_plan {
    float: left;
    width: 124px;
    height: 27px;
    background-image: url(left_plan.jpg);
    background-repeat: no-repeat;
    text-align: left;
}

.ContentHome .fous .one .left_work {
    float: left;
    width: 97px;
    height: 27px;
    background-image: url(left_work.jpg);
    background-repeat: no-repeat;
    text-align: left;
}

.ContentHome .fous .one .left_policyopen {
    float: left;
    width: 97px;
    height: 27px;
    background-image: url(left_policyopen.jpg);
    background-repeat: no-repeat;
    text-align: left;
}

.ContentHome .fous .one .left_standard {
    float: left;
    width: 97px;
    height: 27px;
    background-image: url(left_standard.jpg);
    background-repeat: no-repeat;
    text-align: left;
}

.ContentHome .fous .one .left_bulletin {
    float: left;
    width: 97px;
    height: 27px;
    background-image: url(left_bulletin.jpg);
    background-repeat: no-repeat;
    text-align: left;
}

.ContentHome .fous .one .left_standard {
    float: left;
    width: 97px;
    height: 27px;
    background-image: url(left_standard.jpg);
    background-repeat: no-repeat;
    text-align: left;
}

.ContentHome .fous .one .left_wsbslc {
    float: left;
    width: 97px;
    height: 27px;
    background-image: url(left_wsbslc.jpg);
    background-repeat: no-repeat;
    text-align: left;
}

.ContentHome .fous .one .right {
    float: right;
    width: 50px;
    height: 27px;
    color: #515151;
    text-align: right;
    padding-top: 5px;
    overflow: hidden;
}

.ContentHome .fous .two {
    float: left;
    width: 100%;
    overflow: hidden
}



.ContentHome .fous .three {
    float: left;
    width: 100%;
    height: 585px;
    background-image: url(main_bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.ContentHome .fous .three .down {
    margin-top: 2px;
    padding: 2px;
    line-height: 20px;
    text-align: left;
}

.ContentHome .fous .three .down li {
    line-height: 23px;
    text-align: left;
}

.ContentHome .fous .three .down .line {
    text-align: left;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-bottom-color: #e0e1e3;
    border-left-color: #FFF;
}

.ContentHome .fous .two .left {
    float: left;
    width: 247px;
    height: 193px;
    background-color: #ace1fa;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #FFF;
    border-bottom-color: #FFF;
    border-left-color: #FFF;
    text-align: center;
    padding-top: 3px;
}

.ContentHome .fous .two .right {
    float: left;
    width: 458px;
    height: 196px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #FFF;
    border-bottom-color: #FFF;
    border-left-color: #FFF;
}

.ContentHome .fous .two .right .top {
    float: right;
    width: 450px;
    height: 60px;
    background-color: #eff1ee;
    border: 1px solid #e0e1e3;
    margin-top: 3px;
    padding: 2px;
    line-height: 20px;
}

.ContentHome .fous .two .right .down {
    float: right;
    width: 450px;
    height: 116px;
    margin-top: 2px;
    padding: 2px;
    line-height: 20px;
    text-align: left;
}

.ContentHome .fous .two .right .down li {
    line-height: 23px;
    text-align: left;
}

.ContentHome .fous .two .right .down .line {
    text-align: left;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-bottom-color: #e0e1e3;
    border-left-color: #FFF;
}

.ContentHome .foustwo {
    float: left;
    width: 713px;
    height: 226px;
    border: 1px solid #ccc;
    padding-top: 5px;
}

.ContentHome .fousthree {
    float: left;
    width: 715px;
    height: 223px;
    margin-top: 7px;
}

.ContentHome .fousthree .left {
    float: left;
    width: 355px;
    height: 215px;
    border: 1px solid #e0e1e3;
}

.ContentHome .fousthree .left .top {
    float: left;
    width: 99%;
    height: 27px;
    background-image: url(fousthreebg.jpg);
    background-repeat: repeat-y;
    border: 1px solid #FFFFFF;
}

.ContentHome .fousthree .left .top .one {
    float: left;
    width: 97px;
    height: 27px;
    background-image: url(index_bulletin.jpg);
}

.ContentHome .fousthree .left .top .two {
    float: right;
    width: 50px;
    height: 27px;
    color: #515151;
    text-align: right;
    padding-top: 5px;
}

.ContentHome .fousthree .left .down {
    float: left;
    width: 99%;
    height: 180px;
    margin-left: 2px;
    padding-top: 10px;
    overflow: hidden;
}

.ContentHome .fousthree .left .down .one {
    float: left;
    width: 111px;
    height: 167px;
    padding-left: 2px;
}

.ContentHome .fousthree .left .down .two {
    float: left;
    width: 331px;
    height: 167px;
    padding-left: 2px;
}

.ContentHome .fousthree .left .down .two li {
    line-height: 23px;
    text-align: left;
}

.ContentHome .fousthree .left .down .two .line {
    text-align: left;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-bottom-color: #e0e1e3;
    border-left-color: #FFF;
}

.ContentHome .fousthree .right {
    float: right;
    width: 350px;
    height: 215px;
    border: 1px solid #e0e1e3;
}

.ContentHome .fousthree .right .top {
    float: left;
    width: 99%;
    height: 27px;
    background-image: url(fousthreebg.jpg);
    background-repeat: repeat-y;
    border: 1px solid #FFFFFF;
}

.ContentHome .fousthree .right .top .one {
    float: left;
    width: 97px;
    height: 27px;
    background-image: url(index_work.jpg);
}

.ContentHome .fousthree .right .top .two {
    float: right;
    width: 50px;
    height: 27px;
    color: #515151;
    text-align: right;
    padding-top: 5px;
}

.ContentHome .fousthree .right .down {
    float: left;
    width: 99%;
    height: 180px;
    margin-left: 2px;
    padding-top: 10px;
    overflow: hidden;
}

.ContentHome .fousthree .right .down .one {
    float: left;
    width: 111px;
    height: 167px;
    padding-left: 2px;
}

.ContentHome .fousthree .right .down .two {
    float: left;
    width: 331px;
    height: 167px;
    padding-left: 2px;
}

.ContentHome .fousthree .right .down .two li {
    line-height: 23px;
    text-align: left;
}

.ContentHome .fousthree .right .down .two .line {
    text-align: left;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-bottom-color: #e0e1e3;
    border-left-color: #FFF;
}

.ContentHome .fouspic {
    float: left;
    width: 713px;
    height: 141px;
    border: 1px solid #bcd5e1;
    overflow: hidden
}

.ContentHome .fouspic .left {
    float: left;
    width: 30px;
    height: 140px;
    border: 1px solid #fff;
}

.ContentHome .fouspic .right {
    float: right;
    width: 670px;
    height: 140px;
    padding-top: 9px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}

.ContentHome .fouspic .right .image {
    float: left;
    width: 140px;
    height: 100px;
    padding-top: 12px;
    padding-right: 3px;
    padding-bottom: 12px;
    padding-left: 3px;
}

.ContentHome .fousfour {
    float: left;
    width: 715px;
    height: 223px;
    margin-top: 5px;
}

.ContentHome .fousfour .left {
    float: left;
    width: 355px;
    height: 215px;
    border: 1px solid #e0e1e3;
}

.ContentHome .fousfour .left .top {
    float: left;
    width: 99%;
    height: 27px;
    background-image: url(fousthreebg.jpg);
    background-repeat: repeat-y;
    border: 1px solid #FFFFFF;
}

.ContentHome .fousfour .left .top .one {
    float: left;
    width: 97px;
    height: 27px;
    background-image: url(index_policyopen.jpg);
}

.ContentHome .fousfour .left .top .two {
    float: right;
    width: 50px;
    height: 27px;
    color: #515151;
    text-align: right;
    padding-top: 5px;
}

.ContentHome .fousfour .left .down {
    float: left;
    width: 99%;
    height: 180px;
    margin-left: 2px;
    padding-top: 10px;
    overflow: hidden;
}

.ContentHome .fousfour .left .down .one {
    float: left;
    width: 111px;
    height: 167px;
    padding-left: 2px;
}

.ContentHome .fousfour .left .down .two {
    float: left;
    width: 331px;
    height: 167px;
    padding-left: 2px;
}

.ContentHome .fousfour .left .down .two li {
    line-height: 23px;
    text-align: left;
}

.ContentHome .fousfour .left .down .two .line {
    text-align: left;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-bottom-color: #e0e1e3;
    border-left-color: #FFF;
}

.ContentHome .fousfour .right {
    float: right;
    width: 350px;
    height: 215px;
    border: 1px solid #e0e1e3;
}

.ContentHome .fousfour .right .top {
    float: left;
    width: 99%;
    height: 27px;
    background-image: url(fousthreebg.jpg);
    background-repeat: repeat-y;
    border: 1px solid #FFFFFF;
}

.ContentHome .fousfour .right .top .one {
    float: left;
    width: 97px;
    height: 27px;
    background-image: url(index_policy.jpg);
}

.ContentHome .fousfour .right .top .two {
    float: right;
    width: 50px;
    height: 27px;
    color: #515151;
    text-align: right;
    padding-top: 5px;
}

.ContentHome .fousfour .right .down {
    float: left;
    width: 99%;
    height: 180px;
    margin-left: 2px;
    padding-top: 10px;
    overflow: hidden;
}

.ContentHome .fousfour .right .down .one {
    float: left;
    width: 111px;
    height: 167px;
    padding-left: 2px;
}

.ContentHome .fousfour .right .down .two {
    float: left;
    width: 331px;
    height: 167px;
    padding-left: 2px;
}

.ContentHome .fousfour .right .down .two li {
    line-height: 23px;
    text-align: left;
}

.ContentHome .fousfour .right .down .two .line {
    text-align: left;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-bottom-color: #e0e1e3;
    border-left-color: #FFF;
}

.ContentHome .logintitle {
    float: right;
    width: 247px;
}

.ContentHome .login {
    float: right;
    width: 245px;
    border: 1px solid #ccc;
    color: #666;
}

.ContentHome .login .bg {
    padding: 10px 0 0 20px;
}

.ContentHome .login h3 {
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 25px;
    color: #0054A6;
}

.ContentHome .login li {
    height: 28px;
}

.ContentHome .login .input {
    height: 15px;
    line-height: 15px;
    border: 1px solid #ccc;
}

.ContentHome .login .but {
    background: url(but_1.gif) no-repeat 0 0;
    width: 47px;
    height: 22px;
    line-height: 22px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.ContentHome .login .bottom {
    text-align: center;
    height: 37px;
    padding-top: 2px;
}

.ContentHome .login a, .ContentHome .login a:visited {
    color: #666;
}

.ContentHome .login a:hover {
    color: #f60;
}

.ContentHome .wsbs {
    float: right;
    width: 247px;
    margin-top: 0px;
}

.ContentHome .ggl {
    float: right;
    width: 247px;
    margin-top: 2px;
    background-image: url(ggl.jpg);
    background-repeat: no-repeat;
    height: 176px;
}

.ContentHome .ggl .one {
    width: 215px;
    height: 120px;
    padding-top: 50px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    line-height: 23px;
    color: #076cab;
}

.ContentHome .kstd {
    float: right;
    width: 247px;
    margin-top: 5px;
}

.ContentHome .kstd .kuang {
    float: right;
    width: 245px;
    border: 1px solid #ccc;
    color: #666;
    text-align: center;
}

.ContentHome .yqlj {
    float: right;
    width: 247px;
    margin-top: 2px;
}

.ContentHome .yqlj .kuang {
    float: right;
    width: 235px;
    border: 0px solid #ccc;
    color: #666;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
}

.ContentHome .yqlj .kuang li {
	padding-top:1px;
	padding-bottom: 1px;
}

.ContentHome .HomeLeft {
    float: left;
    width: 728px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.ContentHome .HomeLeft .bg {
    padding: 10px 20px 12px;
}

.ContentHome .HomeLeft h3 {
    font-size: 14px;
    font-weight: bold;
    height: 42px;
    line-height: 25px;
    color: #0054A6;
}

.ContentHome .HomeLeft li {
    float: left;
    width: 214px;
    height: 332px;
    margin-right: 22px;
}

.ContentHome .HomeLeft li h4 {
    background: url(img/bg_2.jpg) no-repeat 0 0;
    width: 129px;
    text-align: center;
    height: 23px;
    line-height: 23px;
    font-weight: bold;
}

.ContentHome .HomeLeft .r {
    float: right;
    margin-right: 0;
}

.ContentHome .HomeRight {
    width: 240px;
    margin-top: 10px;
    float: right;
}

.ContentHome .HomeRight .menu, .ContentRight .menu {
    border: 1px solid #ccc;
}

.ContentHome .HomeRight .menu .bg {
    padding: 10px 20px;
}

.ContentHome .HomeRight .menu h3, .ContentRight .menu h3 {
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 25px;
    color: #0054A6;
}

.ContentHome .HomeRight .menu p, .ContentRight .menu p {
    margin: 0;
    padding: 0;
    line-height: 23px;
}

.ContentHome .HomeRight .menu li, .ContentRight .menu li {
    background: url(img/ico_1.gif) no-repeat 0 4px;
    padding-left: 18px;
    height: 21px;
    line-height: 21px;
    font-weight: bold;
}

.ContentHome .HomeRight .r1 {
    padding: 10px 0;
}

.Content {
    clear: both;
    margin: 0 auto;
    width: 980px;
    padding: 10px 0;
}

.Content .Banner {
    padding-bottom: 10px;
}

.Content .Gongg {
    padding-bottom: 10px;
    background-image: url(img/admin_gonggaobg.jpg);
    background-repeat: repeat-x;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
}

.ContentLeft {
    float: left;
    width: 730px;
}

.ContentLeft .Body {
    border: 1px solid #ccc;
    padding: 20px;
    background: url(img/bg_3.jpg) repeat-x 0 0;
}

.ContentLeftadmin {
    float: left;
    width: 240px;
}

.ContentLeftadmin .Body {
    border: 1px solid #ccc;
    padding: 2px;
    background: url(img/bg_1.gif) repeat-x 0 0;
}

.ContentLeftadmin .Body .titletext {
    padding: 2px;
    font-family: "����";
    font-size: 12px;
    color: #000;
    background-image: url(img/home.png);
    background-repeat: no-repeat;
    background-position: 10px 0;
    line-height: 25px;
}

.ContentLeftadmin .Body .titletext .text {
    margin-left: 10px;
    margin-right: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cccccc;
}

.ContentLeftadmin .Body .titletext .text_1 {
    color: #ff6600;
}

.ContentLeftadmin .Body1 {
    border: 1px solid #ccc;
    padding: 2px;
    background: url(img/bg_1.gif) repeat-x 0 0;
    margin-top: 10px;
}

.ContentLeftadmin .Body1 .titletext {
    padding: 2px;
    font-family: "����";
    font-size: 12px;
    color: #000;
    background-image: url(img/home.png);
    background-repeat: no-repeat;
    background-position: 10px 0;
    line-height: 25px;
}

.ContentLeftadmin .Body1 .titletext .text {
    margin-left: 10px;
    margin-right: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cccccc;
}

.ContentLeftadmin .Body1 .titletext .text_1 {
    color: #ff6600;
}

.ContentRightadmin {
    float: right;
    width: 730px;
}

.ContentRightadmin .Body {
    background: url(img/bg_1.gif) repeat-x 0 0;
}

.ContentRightadmin .Body .titletext {
    font-family: "����";
    font-size: 12px;
    line-height: 25px;
    color: #000;
    background-image: url(img/home.png);
    background-repeat: no-repeat;
    background-position: 10px 0;
    border: 1px solid #ccc;
}

.ContentRightadmin .Body .titletext .text {
    margin-left: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cccccc;
    padding-top: 10px;
}

.ContentRightadmin .menu {
    margin-top: 10px;
}

.ContentRightadmin .menu .bg {
    border: 1px solid #fff;
    background: url(img/bg_1.gif) repeat-x 0 0;
}

.ContentRightadmin .menu .bg .titletext {
    font-family: "����";
    font-size: 12px;
    line-height: 25px;
    color: #000;
    background-image: url(img/home.png);
    background-repeat: no-repeat;
    background-position: 10px 0;
    border: 1px solid #ccc;
}

.ContentRight {
    float: right;
    width: 240px;
}

.ContentRight .menu {
    margin-top: 10px;
}

.ContentRight .menu .bg {
    padding: 10px 20px;
    border: 1px solid #fff;
    background: url(img/bg_1.gif) repeat-x 0 0;
}

.jiankong {
    background: url(img/jk_bg.jpg) repeat-y 0 0;
}

.jiankong .jiankongTop {
    background: url(img/jk_top.jpg) no-repeat 0 0;
    height: 59px;
    line-height: 59px;
    padding: 0 15px;
    color: #ccc;
}

.jiankong .jiankongTop a, .jiankong .jiankongTop a:visited {
    color: #0083D5;
}

.jiankong .jiankongTop a:hover {
    color: #f60;
}

.jiankong .jiankongMenu {
    float: left;
    width: 126px;
    padding-left: 7px;
}

.jiankong .jiankongMenu .jiankongBg {
    background: url(img/jk_left_bg.jpg) repeat-y 0 0;
}

.jiankong .jiankongMenu .kaui {
    height: 420px;
    overflow: auto;
}

.jiankong .jiankongMenu h3 {
    background: url(img/jk_left_top.jpg) repeat-x 0 0;
    height: 23px;
    line-height: 23px;
    font-weight: bold;
    padding-left: 24px;
    color: #fff;
}

.jiankong .jiankongMenu h4 {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #555;
    padding-left: 24px;
    font-weight: bold;
}

.jiankong .jiankongMenu h5 {
    height: 25px;
    line-height: 25px;
    padding-left: 24px;
    font-weight: bold;
}

.jiankong .jiankongMenu li {
    height: 23px;
    line-height: 23px;
}

.jiankong .jiankongMenu li a, .jiankong .jiankongMenu li a:visited {
    display: block;
    background: url(img/jk_ico1.gif) no-repeat 7px 2px;
    padding-left: 24px;
}

.jiankong .jiankongMenu li a:hover {
    background: url(img/jk_ico2.gif) no-repeat 7px 2px;
}

.jiankong .jiankongMenu a:hover {
    color: #39CBFD;
}

.jiankong .jiankongMenu .luxiang {
    text-align: center;
    background: #55565C;
    padding: 8px 0;
}

.jiankong .jiankongMenu .luxiang a, .jiankong .jiankongMenu .luxiang a:visited {
    color: #fff;
    background: url(img/jk_ico3.jpg) no-repeat center 0;
    display: block;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    font-weight: bold;
}

.jiankong .jiankongMenu .luxiang a:hover {
    background: url(img/jk_ico3.jpg) no-repeat center -27px;
    color: #39CBFD;
}

.map .mapMenu {
    float: left;
    width: 33px;
    padding-left: 7px;
}

.map .mapMenu .map1 a, .pingmian .mapMenu .pingmian a:visited {
    color: #000;
    background: url(img/map_ico1.jpg) no-repeat center 0;
    display: block;
    height: 81px;
    line-height: 81px;
    font-size: 14px;
    font-weight: bold;
}

.pingmian .mapMenu .pingmian a:hover {
    background: url(img/map_ico1.jpg) no-repeat center -81px;
    color: #39CBFD;
    height: 81px display: block;
}

.jiankong .jiankongMenu .jietu {
    text-align: center;
    background: #55565C;
    padding: 3px 0 8px;
}

.jiankong .jiankongMenu .jietu a, .jiankong .jiankongMenu .jietu a:visited {
    color: #fff;
    background: url(img/jk_ico3.jpg) no-repeat center -81px;
    display: block;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    font-weight: bold;
}

.jiankong .jiankongMenu .jietu a:hover {
    background: url(img/jk_ico3.jpg) no-repeat center -54px;
    color: #39CBFD;
}

.jiankong .jiankongBottom {
    clear: both;
    background: url(img/jk_bottom.jpg) no-repeat 0 bottom;
    height: 40px;
}

.jiankong .jiankongRight {
    float: right;
    width: 835px;
    background: #000;
    padding: 0 5px 7px 7px;
    overflow: hidden;
}

.Foot {
    clear: both;
    width: 969px;
    background: url(foot.jpg) repeat-x 0 0;
    float: none;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    background-color: #fff;
}

.Foot .icp {
    padding: 12px 0;
    line-height: 21px;
    text-align: center;
}

.Foot .yqlj {
    padding: 5px 0;
    line-height: 21px;
    text-align: center;
}

.Foot .icp p {
    margin: 0;
    padding: 0 0 5px;
}

.title {
    background: url("img/title.jpg") repeat-x;
    border: 1px gray;
    height: 20px;
    width: 270px;
    padding-top: 5px;
    font-family: "宋体";
    font-weight: 100;
    color: white;

}

.asPage {
    width: 268px;
    height: 110px;
    border: 1px outset gray;
    background-color: white
}

#slider {
    position: relative;
    width: 618px;
    height: 246px;
    margin-left: 190px;
    background: url(../images/loading.gif) no-repeat 50% 50%;
}

#slider img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

#slider a {
    border: 0;
    display: block;
}

.nivo-controlNav {
    position: absolute;
    left: 260px;
    bottom: -42px;
}

.nivo-controlNav a {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../images/bullets.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    margin-right: 3px;
    float: left;
}

.nivo-controlNav a.active {
    background-position: 0 -22px;
}

.nivo-directionNav a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/arrows.png) no-repeat;
    text-indent: -9999px;
    border: 0;
}

a.nivo-nextNav {
    background-position: -30px 0;
    right: 15px;
}

a.nivo-prevNav {
    left: 15px;
}

.nivo-caption {
    text-shadow: none;
    font-family: Helvetica, Arial, sans-serif;
}

.nivo-caption a {
    color: #efe9d1;
    text-decoration: underline;
}

.linkBox {
    background-color: #ECF7FC;
    font: Verdana;

}

.linkBoxchoose {
    background-color: #F6921E;
    font: Verdana;

}

.info_text {
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    word-spacing: 0.1em;
    margin: 5px;
}

.button {
    font-family:"宋体",serif;
    background: url(button.gif) no-repeat 0 0;
    width: 47px;
    height: 22px;
    line-height: 22px;
    color: #fff;
    /*font-weight: bold;*/
    cursor: pointer;
    border: none;
}
.button_long {
    font-family:"宋体",serif;
    background: url(button_long.gif) no-repeat 0 0;
    width: 65px;
    height: 22px;
    line-height: 22px;
    color: #fff;
    /*font-weight: bold;*/
    cursor: pointer;
    border: none;
}

.wsbsdt_input{
    height: 15px;
    line-height: 15px;
    border: 1px solid #ccc;
}

.table_line{
    border: 1px solid #efefef;
}
.table_line2{
    border: 1px solid #48a8e5;
}

.table_text{
    line-height: 25px;
    text-align: left;
}
.table_title{
    background-image: url(wsbsdt_5.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #48a8e5;
}