@import "mixins";

/* ---------- Column widths ---------- */

.portlet-column-content.empty {
	padding: 50px;
}

/* ---------- Wrapper ---------- */

#wrapper {
	padding: 0em 0em 0;
	position: relative;
	border-top: 4px #1d4ba2 solid;
	
	@include respond-to(phone) {
		padding-left: 0em;
		padding-right: 0em;
	}

	@include respond-to(tablet) {
		padding-left: 0em;
		padding-right: 0em;
	}
}