body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:60px;
  width:730px;
  height:640px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1 {
  position:absolute;
  left:98px;
  top:90px;
  width:72px;
  height:16px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:180px;
  top:90px;
  width:360px;
  height:134px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:134px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:80px;
  top:264px;
  width:90px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:180px;
  top:264px;
  width:360px;
  height:86px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:86px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:560px;
  top:290px;
  width:20px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:590px;
  top:290px;
  width:20px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:80px;
  top:374px;
  width:90px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:180px;
  top:374px;
  width:360px;
  height:86px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:86px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:560px;
  top:404px;
  width:20px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:590px;
  top:404px;
  width:20px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:80px;
  top:484px;
  width:90px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:180px;
  top:484px;
  width:360px;
  height:86px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:86px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:540px;
  top:554px;
  width:220px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:210px;
  top:640px;
  width:50px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:310px;
  top:640px;
  width:50px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:400px;
  top:640px;
  width:50px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
