body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:664px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:195px;
  top:-25px;
  width:469px;
  height:618px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:618px;
}
#u1 {
  position:absolute;
  left:2px;
  top:301px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
