body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:80px;
  width:860px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:860px;
  height:1px;
}
#u1 {
  position:absolute;
  left:80px;
  top:33px;
  width:560px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:21px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:79px;
  top:61px;
  width:560px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:14px;
  color:#333399;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:20px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:230px;
  top:59px;
  width:90px;
  height:22px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6 {
  position:absolute;
  left:130px;
  top:59px;
  width:90px;
  height:22px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u7 {
  position:absolute;
  left:430px;
  top:58px;
  width:40px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:820px;
  top:59px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:14px;
  color:#333399;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:330px;
  top:59px;
  width:90px;
  height:22px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11 {
  position:absolute;
  left:82px;
  top:110px;
  width:856px;
  height:293px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:455px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:459px;
  top:0px;
  width:105px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:564px;
  top:0px;
  width:135px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:699px;
  top:0px;
  width:152px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:30px;
  width:459px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#333399;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:20px;
  width:455px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:459px;
  top:30px;
  width:105px;
  height:60px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:564px;
  top:30px;
  width:135px;
  height:60px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:699px;
  top:30px;
  width:152px;
  height:60px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:90px;
  width:459px;
  height:66px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#333399;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:66px;
}
#u29 {
  position:absolute;
  left:2px;
  top:23px;
  width:455px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:459px;
  top:90px;
  width:105px;
  height:66px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:66px;
}
#u31 {
  position:absolute;
  left:2px;
  top:25px;
  width:101px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:564px;
  top:90px;
  width:135px;
  height:66px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:66px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:131px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:699px;
  top:90px;
  width:152px;
  height:66px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:66px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:148px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:156px;
  width:459px;
  height:66px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#333399;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:66px;
}
#u37 {
  position:absolute;
  left:2px;
  top:23px;
  width:455px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:459px;
  top:156px;
  width:105px;
  height:66px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:66px;
}
#u39 {
  position:absolute;
  left:2px;
  top:25px;
  width:101px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:564px;
  top:156px;
  width:135px;
  height:66px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:66px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:131px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:699px;
  top:156px;
  width:152px;
  height:66px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:66px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:148px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:222px;
  width:459px;
  height:66px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#333399;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:66px;
}
#u45 {
  position:absolute;
  left:2px;
  top:23px;
  width:455px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:459px;
  top:222px;
  width:105px;
  height:66px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:66px;
}
#u47 {
  position:absolute;
  left:2px;
  top:25px;
  width:101px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:564px;
  top:222px;
  width:135px;
  height:66px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:66px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:131px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:699px;
  top:222px;
  width:152px;
  height:66px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:66px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:148px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:823px;
  top:32px;
  width:100px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:789px;
  top:420px;
  width:144px;
  height:34px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
}
#u54 {
  position:absolute;
  left:2px;
  top:9px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:340px;
  top:160px;
  width:20px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#008000;
  text-align:center;
}
