<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="configManager" class="com.justonetech.biz.manager.ConfigManager">
        <!--报建项目的区县-->
        <property name="projectArea" value="交通建设"/>

        <!--报建项目的区县编码-->
        <property name="projectAreaCode" value="jt"/>

        <!--网站名称-->
        <property name="siteName" value="上海市交通建设工程管理系统"/>

        <!--监督单位名称-->
        <property name="jdDeptName" value="上海市交通建设工程管理系统"/>

        <!--文档附件存储位置-->
        <property name="filePath" value="${filePath}/doc/"/>

        <!--短信开关-->
        <property name="sendSms" value="${smsSwitch}"/>

        <!--数据库及危险源同步开关-->
        <property name="syncDatabase" value="${syncDatabase}"/>

        <!--考勤数据同步开关-->
        <property name="syncCheckData" value="${syncCheckData}"/>

        <!--考勤区域-->
        <property name="syncCheckArea" value="${syncCheckArea}"/>

        <!--网上报建数字证书验证-->
        <property name="certSwitch" value="${certSwitch}"/>
        <property name="certPath" value="${certPath}"/>

        <!--系统缺省样式路径-->
        <property name="defaultSkinPath" value="default"/>

        <!--海康视频登录账户-->
        <property name="hkVideoIp" value="${hkVideoIp}"/>
        <property name="hkVideoUser" value="${hkVideoUser}"/>
        <property name="hkVideoPass" value="${hkVideoPass}"/>

        <!--数据同步日志路径-->
        <property name="syncLogPath" value="${syncLogPath}"/>
    </bean>
</beans>