body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:946px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:80px;
  width:860px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:4px;
  width:860px;
  height:2px;
}
#u1 {
  position:absolute;
  left:474px;
  top:28px;
  width:20px;
  height:22px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#008000;
  text-align:center;
}
#u2 {
  position:absolute;
  left:146px;
  top:28px;
  width:490px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#333399;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:86px;
  top:28px;
  width:50px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:152px;
  top:57px;
  width:358px;
  height:16px;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:802px;
  top:31px;
  width:138px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:831px;
  top:57px;
  width:101px;
  height:16px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:152px;
  top:156px;
  width:490px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#000000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:86px;
  top:120px;
  width:50px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:152px;
  top:121px;
  width:358px;
  height:19px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:868px;
  top:122px;
  width:64px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:152px;
  top:251px;
  width:490px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:38px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:86px;
  top:215px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:152px;
  top:216px;
  width:358px;
  height:19px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:86px;
  top:188px;
  width:860px;
  height:10px;
  opacity:0.3;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:860px;
  height:1px;
}
#u27 {
  position:absolute;
  left:152px;
  top:364px;
  width:490px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:38px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:86px;
  top:328px;
  width:50px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:152px;
  top:329px;
  width:358px;
  height:19px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:86px;
  top:301px;
  width:860px;
  height:10px;
  opacity:0.3;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:860px;
  height:1px;
}
#u34 {
  position:absolute;
  left:418px;
  top:470px;
  width:100px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35 {
  position:absolute;
  left:544px;
  top:470px;
  width:100px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
